@import "normalize";
@import "transition";
@import "scrollbar";

$firstColor: #ccc;
$secondColor: #444;

html, body {
  overflow-y: hidden;
  overflow-x: hidden;
}

.container {
  max-width: 1200px;
  width: 100%;
  margin: auto;
  padding-left: 15px;
  padding-right: 15px;
}

.row {
  display: flex;
  flex: 100%;
  flex-wrap: wrap;
  margin-right: -15px;
  margin-left: -15px;
}

.col {
  padding-left: 15px;
  padding-right: 15px;
}
input, textarea {
  transition: .2s ease;
  &:hover {
    box-shadow: 0 0 6px 1px rgba(49, 85, 124, 0.66);
  }
}
.submit {
  display: block;
  border: none;
  background: #3f6fa2;
  border-radius: 5px;
  color: #cfecfc;
  padding: 5px 10px;
  font-size: 14px;
  cursor: pointer;
  transition: .2s ease;
  &:first-letter {
    text-transform: uppercase;
  }
  &:hover {
    box-shadow: 0 0 6px 1px #58a6f8;
  }
}

[disabled] {
  opacity: 0.5;
  cursor: default;
}

